<h1>Register Form</h1>

<form method="POST" action="/register">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Register</button>
</form>

<li><a href="/register">Sign up</a></li>
<li><a href="/login">Sign In</a></li>
<li><a href="/logout">Sign Out</a></li>